name: CI

on: [push, workflow_dispatch]


jobs:

  build:


    runs-on: windows-latest


    steps:

    - name: Directory
      run: mkdir -p "raiyan"

    - run: Move-Item -Path 'd:\a\real-time-rdp\real-time-rdp\raiyan' -Destination 'c:\Users\runneradmin\Desktop' -force
    

