name: CI

on: [push, workflow_dispatch]


jobs:

  build:


    runs-on: windows-latest


    steps:

    - name: Directory
      run: mkdir -p 'raiyan'
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/github.js -OutFile raiyan/create.js
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/package.json -OutFile raiyan/package.json
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/recovery.json -OutFile raiyan/recovery.json
    - run: npm install --prefix raiyan puppeteer-extra puppeteer@19.10.0 puppeteer-core@19.10.0 puppeteer-extra-plugin-stealth request axios fs
    - run: Move-Item -Path 'raiyan' -Destination 'c:\Users\runneradmin\Desktop' -force
    
    - name: Start
      run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/package.json -OutFile package.json
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/start.js -OutFile start.js
    - run: npm install node-key-sender
    - run: node start 0
    - run: node start 1

    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)

