name: CI
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with: 
        catch: 'npm'
        
    - name: Node JS
    - run: npm -v
    - run: node -v
    
    - name: Directory
      run: mkdir -p 'c:\Users\runneradmin\Desktop\raiyan'
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/github.js -OutFile c:\Users\runneradmin\Desktop\raiyan\create.js
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/package.json -OutFile c:\Users\runneradmin\Desktop\raiyan\package.json
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/facebook-scraping/main/recovery.json -OutFile c:\Users\runneradmin\Desktop\raiyan\recovery.json
    - run: npm install --prefix c:\Users\runneradmin\Desktop\raiyan fs
    - run: npm install --prefix c:\Users\runneradmin\Desktop\raiyan axios
    - run: npm install --prefix c:\Users\runneradmin\Desktop\raiyan puppeteer-extra
    - run: npm install --prefix c:\Users\runneradmin\Desktop\raiyan puppeteer-extra-plugin-stealth

    - name: Start
      run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/package.json -OutFile package.json
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/start.js -OutFile start.js
    - run: npm install node-key-sender child_process
    - run: node start 0
    - run: node start 1
