name: CI
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Command
      run: wget https://raw.githubusercontent.com/raiyan088/public/main/jp.ovpn
    - run: sudo apt update
    - run: sudo apt install openvpn -y
    - run: sudo openvpn --connect jp.ovpn
