name: CI
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
    
    
    - name: Download
      run: Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip

    - name: Download
      run: Invoke-WebRequest https://ak-build.bluestacks.com/public/app-player/windows/nxt/5.21.610.1003/25343c4e28853b01095c62342d9cbc16/FullInstaller/x64/BlueStacksFullInstaller_5.21.610.1003_amd64_native.exe -OutFile BlueStacksFullInstaller_5.21.610.1003_amd64_native.exe
    
    - name: Extract
      run: Expand-Archive ngrok.zip

    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)

    - name: Create Tunnel
      run: .\ngrok\ngrok.exe authtoken 2YMpPG6ws3Y1x5unwwSlUNVs3Wu_67JPAFd2MmxAo7cBVK7Lq
    - run: .\ngrok\ngrok.exe tcp 3389

    
